.gradle/
.idea/
*.iml
*.apk
*.aar
*.so
*.jnilib
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.DS_Store
local.properties
build/
output/
*.log
*.class
*.dex
*.pyc
.vscode/
.classpath
.project
.settings/
.gradle/
